/* основной цвет  color: #212121;*/
/* вторичный цвет color: #757575; */
/* акцент color: #2196F3 */
/* белый color: #FFFFFF;  */
/* черный color: #000000; */
/* футер контакты color: rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --black-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --second-background-color: #2f303a;
  --pasiv-button-color: #188ce8;
  --active-button-color: #2196f3;
  --portfolio-button-color:#F5F4FA;
}

.body {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 1600px;
  margin: auto;
}
.container{
  /* padding-left: 215px;
  padding-right: 215px; */
  margin-left: 215px;
  margin-right: 215px;
  width: 1170;
  
  


}
a {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  margin-right: 93px;
}
.piece-logo {
  color: var(--accent-color);
}
/* Навігація */

.top-line {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.conteiner-nav {
  display: flex;
  align-items: center;
}

.site-nav{
  display: flex;
}

.site-nav .item:not(:last-child){
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;

}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* Контакти хедер */
.contacts{
  display: flex;
  align-items: center;
  padding-left: 344px;
}

.contacts .item:not(:last-child){
  margin-right: 50px;
}
.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  min-width: 122px;
  
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: var(--second-background-color);
  text-align: center;
  margin-bottom: 94px;
  padding: 200px 452px 210px;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3637;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0%;
  margin-bottom: 30px;
  min-width: 696px;
  text-align: center;

}
.hero .button {
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* Секції */
.section{
  margin-top: 0px;
  margin-bottom: 94px;
  align-items: center;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1667;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
/* Наші плюси */
.container .feature-list{
  display: flex;
 
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.1429;
  margin-top: 0%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.feature-list .text {
  color: var(--primary-text-color);
  line-height: 1.1743;
  margin:0%;
}
/* Чим ми займаэмося */

.container .works{
  display: flex;
}
.section .item:not(:last-child){
  margin-right: 30px;
}
/* Наша команда */
.container .comand{
  display: flex;
}
.comand .item:not(:last-child){
  margin-right: 30px;
}
.comand-section{
  background-color: var(--portfolio-button-color);
  padding: 94px 215px;
  width: 1600px;
  margin: 0%;
}
.comand .item{
  background-color: var(--primary-white-color);
}
.comand .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;

}
.comand .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin: 0%;
  padding-bottom: 30px;
}

/* футер */
.footer {
  background-color: var(--second-background-color);
}
.footer .container{
  padding: 60px 1124px 60px 215px;
  margin: 0%;
}
.footer-logo {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  
}
.contact{
  padding-top: 20px;
}
.contact .addres {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.7143;
}
.contact .addres:hover,
.contact .addres:focus {
  color: var(--accent-color);
}
.contact .footer-link {
  color: var(--footer-contacts-color);
  line-height: 1.7142;
  font-style: normal;
}

.contact .item:not(:last-child){
  margin-bottom: 9px;
}
.contact .footer-link:hover,
.contact .footer-link:focus {
  color: var(--accent-color);
}
/* Кнопка */
.button {
  color: var(--primary-white-color);
  background-color: var(--pasiv-button-color);
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  border: none;
  
}
.button:hover,
.button:focus {
  background-color: var(--active-button-color);
}

/* ПОРТФОЛІО */

.filter.list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.filter .filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter .filter-button {
  color: var(--title-text-color);
  background-color: var(--portfolio-button-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  font-family: Roboto, sans-serif;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: 2px solid transparent;
}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--active-button-color);
}
.work.list{
  display: flex;
  flex-wrap: wrap;

}
.work .work-item{
  width: 370px;
}
.work .work-item:not(:last-child){
  margin-right: 10px;
  margin-bottom: 30px;
}
.work .work-item:nth-child(3n+3){
  margin:0px
}
.container-filters {
  margin: 94px 215px;
  align-items: center;
  width: 1170px;
  
}
.work .work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.work .work-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 875;
}
